<div class="row" ng-if="characters.length > 0">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th colspan="8">Found <span class="badge">{{paging.total}}</span> characters</th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Character</th>
                    <th>Description</th>
                    <th>Thumbnail</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="character in characters">
                    <td>{{paging.offset + $index + 1}}</td>
                    <td>
                        <a href="/character/{{character.id}}">{{character.name}}</a>
                    </td>
                    <td>{{character.description}}</td>
                    <td>
                        <a href="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" target="_blank"
                           ng-if="character.thumbnail.path.indexOf('not_available') == -1">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8" class="text-right">
                        <ul class="pagination pagination-sm">
                            <li><a href="#">&laquo;</a></li>
                            <li ng-repeat="i in range(paging.pages) track by $index">
                                <a href ng-click="page($index)" ng-class="{active: $index != paging.current - 1}" class="btn"
                                   role="button">{{$index + 1}}</a>
                            </li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
